main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    background-color: blueviolet;
}

img {
    border: 10 px solid blueviolet;
}

figcaption {
    text-align: center;
    font-size:xx-large;
    background-color: blueviolet;
    padding-bottom: .5em;
}