* {
    margin: 0; 
    font-family: "Bahnschrift", sans-serif;
}

html { 
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

#navbar { 
display:flex;
position:fixed;
justify-content: flex-end;
width: 100%;
background-color: #590202;
}

.nav-list {
    display: flex;
    margin-right: 1rem;
    list-style-type: none;
}

.nav-list a {
    padding: 1.5rem;
    display: block;
    font-size: xx-large;
    color: #F1F2E9;
    transition: transform 0.3s ease-out;
}

.nav-list a:hover {
    background-color:#691313;
    transform: translateY(10px);
}


#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#F1F2E9;
    height: 100vh
}

#welcome-section h1{
    font-size: 4rem;
    color: #010440;
}

#welcome-section h4{
    font-size: 2rem;
    color: #010440;
}

.projects-grid {
    padding: 4.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#010440;
}
.projects-grid div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-tile {
    margin: 1rem;
}

figcaption {
    text-align: center;
    font-size: x-large;
    color: #F1F2E9;
    text-align: center;
    position: relative;
    top: -20px;
    background-color: rgba(3, 3, 3, 0.5);
    padding: 0.5rem;
}

figcaption a:hover {
    background-color:#691313;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    background-color:#F1F2E9;
}

#contact h1 {
    font-size: 4rem;
    padding: 4rem 0;
    color: #590202;
}

#contact p {
    font-size: 2rem;
    padding-bottom: 2rem;
    color: #590202;
}

#contact div {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}

#contact div a {
    margin: 0 2rem;
    font-size: x-large;
    transition: transform 0.3s ease-out;
    color:#0D0D0D;
}

#contact div a:hover {
    transform: translateY(8px);
}

footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-color:#020659;
}

footer p {
    color: #F1F2E9;
    font-size: 1rem;
}

@media (max-width: 75em) {
    nav {
        font-size: 80%;
    }
}

@media (max-width: 61.25em) {
    nav {
        font-size: 60%;
    }
}

@media (max-width: 75em) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 61.25em) {
    html {
        font-size: 60%;
    }
}