* {
    margin: 0;
    box-sizing: border-box;
}

html {
    /* background-color: #3D7DCA; */
    background-color: #003A70;
    font-family: Arial, Helvetica, sans-serif;
}

/* .title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */

h1 {
    display: flex;
    justify-content: center;
    margin: 2em;
    color: #FFCB05
}

h4 {
    margin: 1rem;
}

.buttons {
    color: #003A70;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0rem .5rem 1rem .5rem;
    font-size: .3rem;
    /* width: 4rem;
    height: 3rem; */
}

button:hover {
    background-color: #FFCB05;
    color: #003A70;
    transform: scale(1.1) translateY(3px);
    transition: transform 0.3s ease-out;

}

#typeButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0rem .5rem 1rem .5rem;
}

#typeButtons img {
    width: 55px;
    height: 55px;
}

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border-radius: 3px; */
}

.scene {
    width: 200px;
    height: 260px;
    margin: .5rem;
    perspective: 600px;

}


.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;

}

.cardFace {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; 
} 

.card.is-flipped {
    transform: rotateY(180deg)
}

figcaption::first-letter {
    text-transform: capitalize;
    font-size: 150%;
}

figcaption {
    color:#003A70;
    text-align: center;
    padding-top: .7rem;
    line-height: 3em;
}

.back {
    /* background: #FFCB05; */
    transform: rotateY(180deg);
}

ul, ol {
    list-style: none;
}

figure img {
    width: 200px;
}