* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #3D7DCA;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 2em;
    color: #003A70
}

h4 {
    margin: 1rem;
}

.buttons {
    color: #003A70;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0rem 6.5rem 1rem 6.5rem;
    /* font-size: .3rem;
    width: 3rem;
    height: 3rem; */
}

button:hover {
    background-color: #FFCB05;
    color: #003A70;
    transform: scale(1.1) translateY(3px);
    transition: transform 0.3s ease-out;

}

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
}

.scene {
    width: 200px;
    height: 260px;
    margin: .5rem;
    perspective: 600px;
}


.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.cardFace {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; 
} 

.card.is-flipped {
    transform: rotateY(180deg)
}

.front {
    background: #003A70;
} 

figcaption {
    color:#4E8EDB;
    display: flex;
    justify-content: center;
}
/* applied to cardFace front*/

.back {
    background: #FFCB05;
    transform: rotateY(180deg);
}

figure img {
    width: 200px;
}