* {
    margin: 0;
    box-sizing: border-box ;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    font-size: 2em;
    color: #CECECE
}

nav {
    padding: 1em;
    color: #0086c4;
    background-color: black;
}

html {
    background-image: linear-gradient(to top, #330742, #320846, #310a49, #2f0c4d, #2d0e51, #2d155a, #2d1b62, #2c216b, #2b2d7b, #28398c, #1f459d, #0951ae);
}

#main {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    color: #0086c4;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    color: #0086c4;;
}

a:hover {
    color: #CECECE;
}

footer {
    padding: 1em;
    color: #CECECE;
}

.box {
    background-color: #330742;
    text-align: center;
    font-size: xx-large;
}