* {
    margin: 0;
    box-sizing: border-box;
}

html {
background-image: linear-gradient(to top, #330742, #320846, #310a49, #2f0c4d, #2d0e51, #2d155a, #2d1b62, #2c216b, #2b2d7b, #28398c, #1f459d, #0951ae);
}
/*fix other characters background*/

header {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 2em 0;
}

button {
    font-size: x-large;
    border-radius: 10px;
    color: #0086c4;
    background-color: black;
    transition: transform 0.3s ease-out;
    font-family: 'Open Sans', sans-serif;
}

button:hover {
    background-color: #122;
    transform: translateY(5px);
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #CECECE;
    font-family: 'Open Sans', sans-serif;
}

figure {
    margin: 4px;
}

figure img {
    width: 200px;
}

figcaption {
    text-align: center;
}