* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    padding: 1em;
    background-color: #590202;
    color: #F1F2E9;
    margin-bottom: 1rem;
}

.loyalHeading {
    display: flex;
    justify-content: center;
    margin: 1rem;
    color: #F1F2E9;
}

ul {
    list-style-type: none;
    /* display: flex;
    justify-content: center; */
    margin-left: 19rem;
    color: #F1F2E9;
}

.youngDiv {
    display: flex;
    justify-content: center;
}

.donYoungImg {
    width: 160px;
    margin: 2rem;
    border: solid;
    border-color: #F1F2E9;
    border-width: .5rem;
    border-radius: 3px;
    background-color: #F1F2E9;
}

.seniority {
    display: flex;
    justify-content: center;
    margin: 2rem;
    margin-top: 0;
    margin-bottom: 3rem;
    color: #F1F2E9;
}

.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 6.5rem 1rem 6.5rem;
    color: #010440;
}

button:hover {
    background-color: #590202;
    color: #F1F2E9;
    transform: scale(1.1) translateY(3px);
    transition: transform 0.3s ease-out;

}

.senators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    width: 160px;
    display: flex;
    flex-direction: column;
    margin: 1em;
    border:solid;
    border-color: #F1F2E9 ;
    border-width: .5rem;
    border-radius: 3px;
    background-color: #F1F2E9;
}

figcaption {
    text-align: center;
    background-color: #F1F2E9;
    color: #010440;
    padding-top: .4rem;
}

body {
    background-color: #010440;
}

footer {
    margin: 1rem;
    font-size: small;
}

